<a href="https://colab.research.google.com/github/khyati0812/PWAssignment1/blob/main/Ques4-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ques 4.

#####Operators are special symbols used to perform mathematical calculations on variables or values.
There are different types of operators used in Python-


* Arithmetic operators- used to perform arithmetic calculations.



*   Comparison operators- return a boolean value.
*   Logical operators- AND, OR


*  Not operator- reverses the result.
*  Membership operator- returns a boolean value(in, not in)

*  Identity operators- compares the location of two objects or variables.
*   Bitwise operators- used to perform calculations at bit level.

###Arithmetic operators
1. '+' Adds two numbers
2. '-' Subtracts two numbers
3. '*' Multiplication of two numbers
4. '/' Returns a floating point value- divides two numbers
5. '%' Modulo- returns the remainder on dividing two numbers
6. '//' Returns the quotient- integer value on dividing two numbers.
7. '**' Returns number raised to the power.

In [1]:
a=2
b=3
a+b

5

In [4]:
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

-1
6
0.6666666666666666
0
2
8

###Comparison Operators-

1. a>b Returns true if a is greater than b
2. a<b Returns true if a is less than b.
3. a>=b Returns true if a is greater than or equal to b.
4. a<=b Returns true if a is less than or equal to b.
5. a==b Returns true if a is equal to b.
6. a!=b Returns true if a is not equal to b.

In [6]:
print(a," ",b,(a>b))
print(a," ",b,(a<b))
print(a," ",b,(a>=b))
print(a," ",b,(a<=b))
print(a," ",b,(a==b))
print(a," ",b,(a!=b))

2   3 False
2   3 True
2   3 False
2   3 True
2   3 False
2   3 True

###Logical Operators-
1. AND Returns true if both operands are true
2. OR Returns true if either of two operands is true

In [8]:
print(a and b)
# 1 and 1=1
# 0 and 1=0
# 1 and 0=0
# 0 and 0=0

3

In [10]:
print(a or b)
# 1 and 1=1
# 0 and 1=1
# 1 and 0=1
# 0 and 0=0

2

###Not operator-
Reverses the expected result.

In [13]:

print(not 2<3)

False

###Assignment Operator-
1. a=5  Assigns value 5 to a.
2. a is called the r-value and 5 is called the l-value.

###Membership Operator-
1. x in y: Returns true if x is present in y.
2. x not in y: Returns true if x is not present in y.

In [14]:
"pw" in "pwskills"

True

In [15]:
2 in [3,191,28,1]

False

In [16]:
'c' in "pcslosos"

True

In [17]:
2 not in [283,19]

True

###Identity Operators
1. a is b : Returns true if both a and b point to the same memory location.
2. a is not b: Returns true if both a and b point to different memory locations.

In [18]:
a is b

False

In [19]:
a=2
b=2
a is b

True

In [20]:
a=[1,2]
b=[3,4]
a is b

False

In [22]:
a=[1]
b=[1]
a is not b

True

In [23]:
s="k"
p="k"
s is p

True

###Bitwise Operators-
1. Bitwise & : Returns 1 on a particular bit position if both the operands' bit at that position is set.
2. Bitwise | : Returns 0 on a particular bit position if both the operands' bit at that position is not set.
3. ~ : Returns negative of 1+ input.
4. >>: Shifts the bits of number towards the right.
5. <<: Shifts the bits of a number towards left.

In [25]:
a=5
b=10
print(bin(a)) #binary representation of a
print(bin(b))
print(a&b)
print(a|b)
print(~a)
print(a>>1)
print(a<<1)

0b101
0b1010
0
15
-6
2
10

#Ques 5

##Implicit type casting:
We don't need to specify the data type of a variable when declaring it or assigning a value. Python automatically understands the type on the basis of value it holds.

##Explicit type casting:
Forcibly converting a variable to different data type depending on the use case or user requirements. This is done explicitly by the programmers.

In [26]:
a=5 #implicit
type(a)

int

In [27]:
b=9.7
type(b)

float

In [28]:
c="Pwskills"
type(c)

str

In [29]:
d="Khyati"+5 #try adding string to integer- error
d

TypeError: can only concatenate str (not "int") to str

In [30]:
d="Khyati"+str(5) #explicit casting- converting 5 to string so that it can be added to Khyati
d

'Khyati5'

In [31]:
d="123"+"546"
d

'123546'

In [35]:
d=int(5.89786)+int(678.9)
d

683

In [36]:
d=int(767.868)+5
d

772

#Ques 6.

##Conditional Statements-
Used for flow control- how are the statements in a program executed.
1. Sequential flow: Statements are executed line-by-line in a sequential order. It is only when all of the previous statements are executed that the control reaches the current statement.
2. Conditional flow: Sequential execution not necessary. Control jumps to the statement satisfying a particular condition.Helpful in taking logical decisions.

###Conditional Statements:
Decision-making statements.

---


Might use comparison operators, logical operators for evaluating the condition.

---


1. if : Executes the body if a particular condition is true.
2. if else: Executes the body under if if the condition evaluates to true else the body under "else" is executed for all other cases.
3. if elif else: Used when we want to check multiple conditions and perform actions accordingly.

In [37]:
#if use case
age=19
if(age>18):
  print("You are an adult")

You are an adult

In [38]:
#if else use case
age=13
if(age>18):
  print("You are an adult")
else:
  print("You are not an adult")

You are not an adult

In [39]:
#nested if
age=21
a=4
if age>18:
  if a%4!=0:
    print("Odd number")
  else:
    print("Even number")
else:
  print("invalid")

Even number

In [40]:
#if elif else
age=43
if age>50:
  print("Hi")
elif age>45:
  print("Hey")
elif age>40:
  print("Hello")
else:
  print("default bye")

Hello

#Ques 7.

##Loops in Python-
Used for non sequential flow of statements.

---





Used when we want to perform/repeat a task for certain number of times.

---


Reduces manual effort.

---
###Types of loops:
1. for loop- executes the body of the loop until the condition becomes false.
2. while loop- executes the body of the loop until the condition evaluates to true.

###Jump statements:
1. break- when encountered, breaks out of the loop/terminates it.
2. continue- when encountered, skips the current iteration.
3. Can be used with both for and while.

In [41]:
s=0
for i in range(0,11):
  if i%2==0:
    s+=i
print("Sum of all even numbers from 0 to 10 is:",s)

Sum of all even numbers from 0 to 10 is: 30

In [42]:
i=0
s=0
while i<11:
  if i%2==0:
    s+=i
  i+=1
print("Sum of all even numbers from 0 to 10 is:",s)

Sum of all even numbers from 0 to 10 is: 30

In [44]:

for i in range(1,11):
  if i==3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [45]:

for i in range(1,11):
  if i==3:
    break
  print(i)

1
2